<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   @*  <title>@ViewData["Title"] - ProjectClock</title> *@


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet" href="~/css/_LayoutRaport.css" asp-append-version="true" />

    @* <link rel="stylesheet" href="~/ProjectClock.MVC/Views/Shared/Components/Raport/LayoutRaport.css" asp-append-version="true" /> *@

    @*  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />     _LayoutRaport.cshtml*@

     @* <link rel="stylesheet" href="~/ProjectClock.MVC.Views" asp-append-version="true" />     *@


   @*  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> *@


	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    


</head>
<body>
    <div class="window">
        @RenderBody()
    </div>

  @*   @RenderSection("Scripts", required: false) *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>





</html>
